# Day 1 Practical
Let's get some practice with Python! In each section, you will be given a task to complete. Fill up the code to accomplish the task.

<a name="Top"></a>
# Table of Contents 

1. [Lab Exercise 1 - Variable and Print](#_1)

2. [Lab Exercise 2 - Datatypes and String Operation](#_2)

3. [Lab Exercise 3 - Lists](#_3)

4. [Lab Exercise 4 - Dictionary](#_4)

5. [Lab Exercise 5 - If Else](#_5)

6. [Lab Exercise 6 - Loops](#_6)

7. [Lab Exercise 7 - While Loop](#_7)

8. [Lab Exercise 8 - Housing Price](#_8)

9. [Lab Exercise 9 - Module and Methods](#_9)

10. [Lab Exercise 10 - Car Plate Checksum](#_10)

<a name="_1"></a>
# Lab Exercise 1

You've recently been hired as a junior data analyst at Kepler Incorporated, the best Data Science Firm in Singapore, JB, and some say Batam. It's your first day on the job, and you have a lot to do. Your boss decides to throw you around the various departments in the company to let you help them out while learning the ropes.

# 1A Defining Variables
First, you are assigned to the sales department, where they are working on a program to analyse the daily sales of a bookstore. 

You've been tasked with helping to create different variables, representing different aspects of the data, for later use in the program.

**Task**
1. Create a variable containing the product name `"Pencil Case"`
2. Create a variable containing the quantity of the product. There are `12` pencil cases in stock.
3. Create a variable to store the price of each pencil case. The price is `6.70` dollars.

[Back to the Content Table](#Top)

In [ ]:
# Type your code below






# Don't touch the code below this
print(f'Item: {product_name}\nQuantity: {product_quantity}\nPrice: ${product_price}')

Item: Pencil Case
Quantity: 12
Price: $6.7

# 1B Format Printing
Congratulations! Your work has impressed your associates, who are now entrusting you with a tougher job, which is to print out basic statistics regarding the daily sales of the bookstore. Luckily, the numbers have already been crunched: all you have to do is to print out the numbers nicely for the client.

A co-worker passes you a sample output, showing how the client expects the information to be formatted:
```
--Daily Sales Summary for Unpopular Bookstore: Dover Branch--
Date: 07/07/2020
Total Sales Volume: 1200
Total Revenue: $24000 (rounded to nearest whole number)
```

**Task**
1. Print out an output with a format similar to that shown in the sample output. (note that the date, total sales volume, and total revenue would be different since we are using numbers from a different day)

[Back to the Content Table](#Top)

In [ ]:
date = "04/02/2021"
sales_volume = 1299
revenue = 22004.24

# Type your code below; Do not modify the code above

--Daily Sales Summary for Unpopular Bookstore: Dover Branch--
Date: 04/02/2021
Total Sales Volume: 1299
Total Revenue: $22004 (rounded to nearest whole number)

<a name="_2"></a>
# Lab Exercise 2 
Excellent work with the printing! Now, you've been handed another task. Another team has been working on analysing the customer base of Unpopular Bookstore, and needs you help with a few tasks.

# 2A Data type 

One of the analysts has extracted some information about the bookstore's customers from their database. Before he can begin analysing the data, he needs some help to verify that the data is correct, and if not, fix it. 

Here is a table of what the data should be like:

| Attribute | Data Type |
|----|----|
|Age | Int|
|Income | Float |
| Address | String |
| isMember | Bool |

**Task**
1. Print out the data types of the variables `age`, `income`, `address` and `isMember`
2. There is one variable with the wrong data type, can you convert it to it's correct data type?

[Back to the Content Table](#Top)

In [ ]:
age = 23
income = "12000"
address ="ABC Road"
isMember = False

# Type your code below; Do not modify the code above

# 2B String Slicing
Good work! Now, the data has been loaded by the team. Your co-worker now needs your help to extract key elements like the postal code from the address. This would require you to use string slicing on the address, which you aren't familar with. Luckily, your helpful co-worker is willing to teach you how string slicing works. 

Given a string in Python, 
```python
address = "ABC Road"
print(text)
>> ABC Road
```
we can extract individual characters like this using square brackets (`[]`)
```python
print(address[0]) # extract the first character of the text
>> A
```
The number 0 represents the 0th number in the text. (we start counting the position of each character from 0 in Python, so the second character of the text would be at position 1 instead of 2)

We can then extract multiple characters at once like this
```python
print(address[0:3]) # extract the first three characters
>> ABC
```
Note the use of the colon (`:`) to separate the two numbers. The first number `0` tells Python to start at the 0th (first) character at the text, and the second number `3`, tells Python to stop before the 3rd (fourth) character of the text.

Another example is given below
```python
print(address[4:8]) 
>> Road
```
**Task**:
The address is `42 Siling Road #04-142, Singapore 753042`
1. Extract the following elements from the address above and print them out:
    - Street Address (`42 Siling Road`)
    - Unit Number (`#04-142`)
    - Postal Code (`753042`) 

Tips: 
- Refer to the example given above for tips on how to extract words from the text. Note that we count the position of the characters from 0. If you want to extract the $i_{th}$ character of the text, you would give the position as $i - 1$
- If you're not sure of what numbers to use to extract the details, play around with a few numbers and print out what you get. 
- The address is 40 characters long (including the spaces)   
[Back to the Content Table](#Top)

In [ ]:
address = "42 Siling Road #04-142, Singapore 753042"

# Type your code below; Do not modify the code above
street_address =  
print("Street Address:", street_address) 
unit_no =
print("Unit Number:", unit_no)
postal_code = 
print("Postal Code:", postal_code)

Street Address: 42 Siling Road
Unit Number: 04-142
Postal Code:  753042

<a name="_3"></a>
# Lab Exercise 3 
Good work on that task. Things will only get harder from here however. The team is now starting to record the daily sales records of their various branches. They've already created some lists to store this information, but need you to append some additional information to the lists.

**Task**
1. Add a new set of sales information into the lists. Print out the new lists and check that the new records have been added. 

```
Store Manager: Mr Chan
Date: 03/03/2021
Total Sales Volume: 640
Total Revenue: $9430
```

```
Store Manager: Mr Raj
Date: 04/03/2021
Total Sales Volume: 1024
Total Revenue: $16033
```

2. Print the total revenue for the store on the 2 March 2021

[Back to the Content Table](#Top)

In [ ]:
manager = ["Natalya","Ryan"]
date = ["01/03/2021", "02/03/2021"]
volume = [742, 1010]
revenue = [9000, 14014]

# Type your code below; Do not modify the code above

['Natalya', 'Ryan', 'Mr Chan', 'Mr Raj'] ['01/03/2021', '02/03/2021', '03/03/2021', '04/03/2021'] [742, 1010, 640, 1024] [9000, 14014, 9430, 16033]
Total revenue on 02/03/2021 : 14014

<a name="_4"></a>
# Lab Exercise 4
With this done, the team wants you to use a dictionary (not an actual one, a Python one!) to store information relating to the phone numbers of the store managers. 

This dictionary will map the name of a person to a phone number associated with them. 

The phone numbers of the managers are detailed in the table below:

| Manager | Phone Number |
|----|----|
| Natalya | 98244141 |
| Ryan | 85355353 |
| Chan | 95358835 |
| Raj | 8535 0535 |

**Tasks**
1. Create a phonebook dictionary mapping the names of the managers to their phone numbers. Print out the dictionary
2. Ryan has since been fired from the store. Remove him from the dictionary and print out the dictionary.
3. A new manager, Ms Karen, has been hired. Her phone number is `98441434`. Add her to the phonebook, and print out the dictionary.
4. Mr Raj has changed his phone number to `9555 0535`. Update the dictionary to reflect this change. 
5. Save 2 contact numbers under Natalya's name, 98765432 and 65554432.  *Hint: dictionaries can contain lists or tuples.*
6. Print out the dictionary to check that the relevant changes have been made.

[Back to the Content Table](#Top)

In [ ]:
# Part 1

print(phonebook)

{'Natalya': 98244141, 'Ryan': 85355353, 'Chan': 95358835, 'Raj': 85350535}

In [ ]:
# Part 2

print(phonebook)

{'Natalya': 98244141, 'Chan': 95358835, 'Raj': 85350535}

In [ ]:
# Part 3

print(phonebook)

{'Natalya': 98244141, 'Chan': 95358835, 'Raj': 85350535, 'Karen': 98441434}

In [ ]:
# Part 4

In [ ]:
# Part 5

In [ ]:
print(phonebook)

{'Natalya': [98765432, 65554432], 'Chan': 95358835, 'Raj': 95550535, 'Karen': 98441434}

# Lab Exercise 5
Whew! You've done a lot, and its time to take a break. As you begin to dig in to your meal in the workplace canteen, you are suddenly approached by one of your co-workers. It turns out that the company holds a raffle every month, to select workers who will be given an extra day off. Unfortunately, the guy running the raffle was fired recently after it was discovered he was rigging the software to make himself the winner every time. Even worse, he decided to delete all traces of the source code for the software, leaving the team scrambling to restore the code. He asks for your help to re-write parts of the software, in return for a small bonus.

It looks like you won't be getting much rest today...

<a name="_5"></a>
# 5A If Else
**Task**
- Write down a piece of code that separates employees into two separate raffle groups, A or B
- We separate them using their employee number. An employee with an even employee number is put into group A, and an employee with an odd number is put into group B.
- A number is even if it is cleanly divisible by 2. E.g. 4 / 2 = 2 -> a whole number

Sample Output
```
Enter your employee number: 204141
You are in group A!
Group A: []
Group B [204141]
```

[Back to the Content Table](#Top)

In [ ]:
A = []
B = []
userInput = int(input("Enter your employee number: ")) # input is a function that reads a line from the input and converts it into a string.

# Type your code below; Do not modify the code above
# you will need to write an if else statement





print("Group A:", A)
print("Group B", B)

Enter your employee number: 204141
You are in group A!
Group A: []
Group B [204141]


# 5B Elif

To purchase a raffle ticket, members have to pay different prices depending on their seniority in the company.

Person A wants to purchase tickets to a football match. Raffle Tickets are sold in the following manner:
- Only members with 1 years or more in the company can join
- Juniors with 1-3 years of in the company have to pay \$15
- Seniors (>3 years) pay \$45

**Task**
1. Write a program using elif statements to calculate the price of a ticket for Person A.

Sample Output
```
Enter years of experience in the company: 0
Sorry you do not qualify!
```
[Back to the Content Table](#Top)

In [ ]:
age = int(input('Enter years of experience in the company: '))
# Type your code below; Do not modify the code above
# write an if, elif, else statement

Enter years of experience in the company: 0
Sorry you do not qualify!

<a name="_6"></a>
# Lab Exercise 6
Good work on your earlier code! Returning back to work, you find your co-workers working on a machine learning model. It is having some issue related to the training, and hence they need your help to write code that will log the training process of the model, to help them figure out what is wrong with the model. 

Sounds tough, but luckily for you, they've made it as easy as following their instructions.

# 6A For Loop 
**Task**
1. Create 3 lists: `multiples_10`, `multiples_15` and `multiples_100`
2. Modify the for loop to append the loss (the loss is a metric that tells us the 'error' of the model) for each iteration of model training to the three lists, based on the following rules:
  - If the epoch number is divisible by 100, then append it to the `multiples_100` list
  - If the epoch number is divisible by 15, append it also to the `multiples_15` list
  - If the epoch number is divisible by 10, append it also to `multiples_10`

*Hint: If you satisfy more than one condition, you should add it to multiple lists (the conditions are not mutually exclusive)*

[Back to the Content Table](#Top)

In [ ]:
from random import random
get_model_loss = lambda : random() # ignore this piece of code; we use random numbers for this problem as a fake representation of the model training process
no_epochs = 184
# Create Arrays to store the relevant multiples
multiples_10 = []
multiples_15 = []
multiples_100 = []

# Type your code below; Do not modify the code above
for epoch in range(1, no_epochs):   # iterates through numbers between 0 to 180
    loss = get_model_loss() 
    # add your if statements below

print(f'The losses for every 100 epochs are : {multiples_100}.\nThe losses for every 15 epochs are : {multiples_15}.\nThe losses for every 10 epochs are {multiples_10}.')

The losses for every 100 epochs are : [0.7135242671024787].
The losses for every 15 epochs are : [0.9294342556969841, 0.47190846423098987, 0.4194838755977085, 0.365471532842505, 0.7702220164712245, 0.14442032666845483, 0.2295149446926843, 0.9337277706640659, 0.11147852480198894, 0.4290686936780097, 0.1912880969391748, 0.9295973721911656].
The losses for every 10 epochs are [0.2707245244350106, 0.16022643114751967, 0.47190846423098987, 0.8192345526709663, 0.39919165957593095, 0.365471532842505, 0.26424549228852867, 0.3373458863986797, 0.14442032666845483, 0.7135242671024787, 0.42758349779412086, 0.9337277706640659, 0.26305429866245045, 0.6136671782531776, 0.4290686936780097, 0.3947771982487055, 0.1540545813598153, 0.9295973721911656].

# 6B List Iteration with For Loop
Good job! In fact, you've done such a good job thus far that your boss is letting you help out one of the sales teams, who is helping to analyse another business, ABC shop.
The lists below contains information about some customers of ABC Shop. Using for loops complete the following tasks.

**Task 1**
- Use a for loop to iterate through all customers, and print customers who spent  \$100 or more on average. (average amount spent = amount spend / total visits)
- You should print their name, and the average amount they spend.

Sample Output
```
Customer Name:Nicole, Average Amount Spent: $100.0
Customer Name:Jacob, Average Amount Spent: $152.445
```

**Task 2**

ABC Shop wants to find out whether non-members or members make more trips to the shop per month.
- Create two lists `member_visits` and `non_member_visits`. 
- Add the total visits of non members to `non_member_visits` and the total visits of members to `member_visits` (use a for loop)
- Using the lists created, calculate the average number of trips made by those who are members and those who are non-members, to print an output like the sample output.

Sample Output 
```
Members generally make an average of 4.2 visits per month. Non members generally make an average of 2.4 trips to ABC Shop per month.
```

[Back to the Content Table](#Top)

In [ ]:
customer = ['Kelly','John','Jack','Nicole','Justin','Sarah','Jacob','Gina','Celeste','Robert' ]
amount_spent = [123,89,120,300,200,210.50,304.89,150.85,94.12,130.34]
membership = [True,False,False,False,True,True,False,True,False,True] # each element position corresponds to the same customer
total_visits = [4,2,2,3,4,5,2,4,3,4]

# Type your code below; Do not modify the code above
# task 1
for i in range(len(customer)):
  # Hint: Calculate the average amount spent for each customer first (amount spent / total visits)

# task 2
member_visits=[]
non_member_visits = []
for i in range(len(total_visits)):
    # check if customer is a member

print(f'Members generally make an average of {} visits per month. Non members generally make an average of {} trips to ABC Shop per month.')

Customer Name:Nicole, Average Amount Spent: $100.0
Customer Name:Jacob, Average Amount Spent: $152.445
Members generally make an average of 4.2 visits per month. Non members generally make an average of 2.4 trips to ABC Shop per month.

<a name="_7"></a>
# Lab Exercise 7
Alright, we've nearly reached the end of the day! Your seniors have been pretty impressed by your skills so far, and so want to put your programming skills to the test. The next few exercises are challenges put forth by them to test out your skills. If you do well, you might be in for a rapid promotion!

Write a password changing program that validates a password.

Ensure that:
- the password is between 8 to 12 characters long
- the password does not contain a space.

Sample output :
- if password created is accepted: Password updated! 
- if password created is not accepted because of the first condition: Password not accepted, it is not between 8 to 12 characters long. 
- if password created is not accepted because of the second condition : Password not accepted, it contains a space.

If the password given by the user is not accepted, prompt the user to enter another password. The program should end when the user enters a password that fulfils the above requirements.

*Hint: You can use the `and` and `or` operators to check for multiple conditions at once. See the code sample below or this [link](https://www.w3schools.com/python/python_operators.asp) for an example*
```python
print(True and False)
>> False
print(True and True)
>> True
print(False or True) 
>> True
```
[Back to the Content Table](#Top)

In [ ]:

while True :
    password = input("Input your new password: ")
    # write your code below

Password Updated

<a name="_8"></a>
# Lab Exercise 8

One team that is working with the HDB to analyse housing prices hands you one of their data sets, and tasks you with creating a function to print out the descriptive statistics of a given set of HDB flats.

**Task**

1. Define a function(s) that generates and prints the:
- average housing price across the regions provided
- average housing size across the regions provided
- average housing price per square feet across the regions provided
- average years of the houses across the regions provided
- average rental price across the regions provided

2. Using the function, generate an analysis of all the data across all regions (join the regions together, and analyse the overall data)

[Back to the Content Table](#Top)

In [ ]:
# South
south_price =  [245000,540000,655000,365000,674000,578000,346000,232000,467000,432000]
south_size = [36,50,60,80,90,110,115,90,110,65]
south_lease = [99,96,93,92,97,80,81,83,90,91]
south_rental = [1800,1900,1890,1950,2000,2300,2500,2600,2340,2000]

# North
north_price = [223000,295000,353000,404000,481000,304000,360000,450000,324000,298000]
north_size = [110,115,90,65,60,45,90,110,60,65]
north_lease = [92,97,84,88,98,98,76,98,93,92]
north_rental = [1980,1560,1780,1680,1450,1680,2000,1980,1790,2100]

# East
east_price = [245000,540000,655000,365000,674000,578000,346000,232000,467000,432000]
east_size = [45,45,60,65,65,90,110,115,90,65]
east_lease = [90,92,89,83,92,88,81,95,92,96]
east_rental = [1640,1780,1540,2000,2150,1890,2200,2100,1900,2300]

#Central
central_price = [233000,933000,407000,233000,550000,738000,834000,630000,933000,452000]
central_size = [110,90,65,60,90,110,115,45,50,36]
central_lease = [99,98,97,98,89,86,91,92,93,94]
central_rental = [2500,2220,4300,4500,2500,3600,3300,1800,1780,2600]

# West
west_price = [340000,456000,405000,389000,503000,512000,489000,386000,436000,525000]
west_size = [40,60,65,90,110,115,120,100,60,65]
west_lease = [93,92,89,99,94,95,91,81,82,88]
west_rental = [1500,1450,1650,1680,1460,1340,1560,1620,1800,1980]

# Type your code below; Do not modify the code above

def get_info(price,size,lease,rental):
    average_price = sum(price)/len(price) # the first line of code has already been written for you as a reference

    print(f'The average pricing of housing across the regions provided is ${average_price}')
    print(f'The average size of housing across the regions provided is {average_size} sqm')
    print(f'The average price per square meter across the regions provided is ${average_psqm}')
    print(f'The average remaining lease of housing across the regions provided is {average_years} years')
    print(f'The average rental price of housing across the regions provided is ${average_rental}')

all_price = 
all_lease = 
all_size =
all_rental = 

get_info(all_price,all_size,all_lease,all_rental)

The average pricing of housing across the regions provided is $458880.0
The average size of housing across the regions provided is 79.24 sqm
The average price per square meter across the regions provided is $5791.014639071176
The average remaining lease of housing across the regions provided is 91.14 years
The average rental price of housing across the regions provided is $2078.4

<a name="_9"></a>
# Lab Exercise 9

# 9 Modules and Methods

After your work with the housing analytics team, the social media team decides to enlist your help to analyse the word frequency of social media posts. This is some advanced stuff, but there're willing to guide you through the process.

**Task**
1. Import `Counter` from the `collections` library
2. Using the `.split()` method, convert the post into a list, with each word being a separate element in the list (you need to split using spaces as the separator)
3. Use the `Counter` class on the word list, to get a dictionary mapping each word to it's frequency.
4. Print out the top 10 most frequent words in the most. To do that, you can use the `most_common()` method on the word counter object.

*Hints: You can check out [here](https://www.w3schools.com/python/ref_string_split.asp) for a reference on the `.split()` method, and [here](https://docs.python.org/3/library/collections.html#collections.Counter) for a reference on the Counter.*

[Back to the Content Table](#Top)

In [1]:
from collections import Counter
post = "Decent food, great view and ambience. Stumbled by this gem along the touristy boat quay from my sister-in-law's recommendations. It was difficult to find as the boat quay shophouses are not numbered, and the sign was a relatively small circle perpendicular to the side walk. An easy tip to find the place is by spotting the cat cafe right above it! The menu is simple and relatively small compared to its other outlet, but has the key elements of a Spanish restaurant - tapas, cured meats, alcohol and paella. We tried the cava sangria as i had not previously seen this anywhere else. Cava is the champagne of Spain, light and bubbly, usually to start off a meal. Sadly, although there was a good amount of fruits in the sangria, the overall taste of the sangria was rather bitter.. maybe from the cava or insufficient juice mixed in? We tried several tapas and the paella: the fried chorizo is a little salty, but still tasty. The olives had a good spicy kick to it. The melted cheese mushroom was good too. My personal favorite was the paella. It had good flavor, lots of seafood and chorizo but was a little salty for my taste. My favorite part of the little Spanish place is the view. The seats by the Singapore river were very breezy and has very good view of the city, including VCH, MBS, city hall, Fullerton. You also get live music from timbre across the river and some other bars further down the shophouses. It was also really nice that it wasn't particularly loud so conversation could be easily carried out. I would definitely be back when in need of a place to chill with some friends!"
# Type your code below; Do not modify the code above
words = 
word_freq = 
print("10 Most Common Words:", )

10 Most Common Words: Counter({'the': 22, 'and': 9, 'was': 8, 'a': 8, 'of': 8, 'to': 7, 'is': 5, 'good': 5, 'The': 4, 'by': 3, 'from': 3, 'It': 3, 'place': 3, 'but': 3, 'had': 3, 'little': 3, 'view': 2, 'this': 2, 'boat': 2, 'quay': 2, 'my': 2, 'find': 2, 'as': 2, 'not': 2, 'relatively': 2, 'small': 2, 'other': 2, 'has': 2, 'Spanish': 2, 'paella.': 2, 'We': 2, 'tried': 2, 'cava': 2, 'sangria': 2, 'in': 2, 'chorizo': 2, 'My': 2, 'favorite': 2, 'river': 2, 'very': 2, 'also': 2, 'some': 2, 'be': 2, 'Decent': 1, 'food,': 1, 'great': 1, 'ambience.': 1, 'Stumbled': 1, 'gem': 1, 'along': 1, 'touristy': 1, "sister-in-law's": 1, 'recommendations.': 1, 'difficult': 1, 'shophouses': 1, 'are': 1, 'numbered,': 1, 'sign': 1, 'circle': 1, 'perpendicular': 1, 'side': 1, 'walk.': 1, 'An': 1, 'easy': 1, 'tip': 1, 'spotting': 1, 'cat': 1, 'cafe': 1, 'right': 1, 'above': 1, 'it!': 1, 'menu': 1, 'simple': 1, 'compared': 1, 'its': 1, 'outlet,': 1, 'key': 1, 'elements': 1, 'restaurant': 1, '-': 1, 'tapas,': 1, 'cured': 1, 'meats,': 1, 'alcohol': 1, 'i': 1, 'previously': 1, 'seen': 1, 'anywhere': 1, 'else.': 1, 'Cava': 1, 'champagne': 1, 'Spain,': 1, 'light': 1, 'bubbly,': 1, 'usually': 1, 'start': 1, 'off': 1, 'meal.': 1, 'Sadly,': 1, 'although': 1, 'there': 1, 'amount': 1, 'fruits': 1, 'sangria,': 1, 'overall': 1, 'taste': 1, 'rather': 1, 'bitter..': 1, 'maybe': 1, 'or': 1, 'insufficient': 1, 'juice': 1, 'mixed': 1, 'in?': 1, 'several': 1, 'tapas': 1, 'paella:': 1, 'fried': 1, 'salty,': 1, 'still': 1, 'tasty.': 1, 'olives': 1, 'spicy': 1, 'kick': 1, 'it.': 1, 'melted': 1, 'cheese': 1, 'mushroom': 1, 'too.': 1, 'personal': 1, 'flavor,': 1, 'lots': 1, 'seafood': 1, 'salty': 1, 'for': 1, 'taste.': 1, 'part': 1, 'view.': 1, 'seats': 1, 'Singapore': 1, 'were': 1, 'breezy': 1, 'city,': 1, 'including': 1, 'VCH,': 1, 'MBS,': 1, 'city': 1, 'hall,': 1, 'Fullerton.': 1, 'You': 1, 'get': 1, 'live': 1, 'music': 1, 'timbre': 1, 'across': 1, 'bars': 1, 'further': 1, 'down': 1, 'shophouses.': 1, 'really': 1, 'nice': 1, 'that': 1, 'it': 1, "wasn't": 1, 'particularly': 1, 'loud': 1, 'so': 1, 'conversation': 1, 'could': 1, 'easily': 1, 'carried': 1, 'out.': 1, 'I': 1, 'would': 1, 'definitely': 1, 'back': 1, 'when': 1, 'need': 1, 'chill': 1, 'with': 1, 'friends!': 1})

<a name="_10"></a>
# Lab Exercise 10
Before you end your day, you have one last task. The computer vision team in the company has been working on an automatic carplate reader. While the deep learning model is complete, and is able to extract the car plate number of a car, they still need to implement an algorithm to validate the car plate number once it has been retreived. This is what they have tasked you to do.

## Car Plate Checksum

In general, every motor vehicle in Singapore requires a vehicle registration number to be displayed at the front center (in almost all cases or otherwise set by car manufacturer due to bumper constraints) and rear of the vehicle.
![](https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Singapore_licence_plate_1990_rear_SDN7484U.jpg/450px-Singapore_licence_plate_1990_rear_SDN7484U.jpg)

All car plates have a unique number known as a **checksum**. It is a unique number which is calculated from the car plate number using a special algorithm. It is called a check sum because it involves **adding (summing)** up the numbers in the plate number in a special way, then using the final sum to **check the validity** of the overall number.

This checksum can be used to check if the car plate number is valid.

### Algorithm
To validate a given vehicle plate number with 4 digits starting with ‘S’, do the following:

1. Ignore the letter ‘S’

2. Assign a number to the letters as follows: A=1, B=2, C=3, …etc. For the number plate SBA 1234, this is converted to 21 1234

3. The 6 individual numbers needs to be multiplied by 9,4,5,4,3,2 respectively and added together. For the example above, we will get,    2 x 9 + 1 x 4 + 1 x 5 + 2 x 4 + 3 x 3 + 4 x 2 = 52

4. This value is divided by 19 to obtain the remainder. For the example above, 52 % 19 = 14

5. Use the remainder to locate the character at this position in the following reference string, “AZYXUTSRPMLKJHGEDCB”. In the above example, character at position 14 is ‘G’.

6. This should be the last character of the vehicle number plate

**Task**

Write a Python program that prompts the user to enter a vehicle plate number with 4 digits starting with ‘S’, and returns True (Valid) or False (Invalid). **You can assume that the car plate number will always start with an S.**

### Sample Input and Output
```
Input: 'SBA1234K'
Output: False
```
```
Input: 'SBA1234G'
Output: True
```

### Hints:
- You can access a specific character in a string like so: `test_str[index]`
- To calculate the remainder, use the modulo (`%`) operator. For example, to calculate the remainder of 10 when divided by 3, use `10 % 3`
- You can convert a string to a list of characters in the string using `list(string_you_want_to_convert)`
- Strings have a method called `.isalpha()`, which checks if the string/character is a letter
- When performing multiplication, take care to make sure the elements you are multiplying are of the type `int`. If one of the elements are strings, you will end up repeating the string. For instance `'4' * 2` returns `44` while `int('4') * 2` returns `8`. 
- If your answer is wrong, you can always add a `print()` statement to debug the code at each step of the algorithm.

[Back to the Content Table](#Top)

In [ ]:
def check_plate(plate_no: str):
  plate_no = plate_no.upper() # ensure plate no is in upper case
  # Sub-Task: Extract the last character of the plate no. This will be the character that we check against at the end.
  last_character = 
  # Sub-Task: Remove the first character and last character of the plate no. 
  plate_no = plate_no[1:-1] 
  # Sub-Task: Convert the plate number into a list, where each element of the list is a character
  plate_list = 
  # Sub-Task: Replace letters in the list with a number, corresponding to it's position in the alphabet
  abcs = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
  mul_list = [9, 4, 5, 4, 3, 2]
  for i in range(len(plate_list)):
    letter = 
    if ____: # if is a alphabet 
      number = abcs.find(letter) + 1
      plate_list[i] = # replace the letter with the number
    else:
      plate_list[i] = int(letter)
    # Sub-Task: Multiply the numbers in the list with 9,4,5,4,3,2 respectively
    plate_list[i] = 
  # Sub-Task: Sum up the numbers in the list
  plate_sum = 
  # Sub-Task: Get the remainder when the sum is divided by 19 (use % operator instead of /). This will be our checksum.
  remainder = 
  # Sub-Task: Use the remainder to locate the character at this position in the following reference string, “AZYXUTSRPMLKJHGEDCB”
  ref_string = "AZYXUTSRPMLKJHGEDCB"
  check_char = 
  # Sub-Task: Verify if the check_char matches the last character of the original car plate no
  return 

assert check_plate('SBA1234G') == True
assert check_plate('SBA1234K') == False

# Conclusion
Congratulations, you've finally finished your tasks, and can return home! Give yourself a pat on the back, and get some well deserved rest. Let's hope you get a good raise after all this hard work...